@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@1&display=swap');
h1{
    font-family: 'Chau Philomene One', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, 'Courier New', Courier, monospace, sans-serif;
    

}
.cabecalho{
    background: #663399;
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bolder;
    padding: 1vw;
    width: 98%
}
#logo,#menu,#cart, nav svg{
    height:3.125rem;

}
nav a {
    padding: 0.625rem;
}
nav{
    padding: 1rem 0 1rem 0 ;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5b57e;
}
header,article{
    width: 92vw;
}
#logo{
    display: inline-block;
}
#menu,#cart{
    float: right;
}
#banner img{
    width: 92vw;
}



#title{
    font-size: 2rem;
      padding: 2rem;
    text-align: center;
;}

#products{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;

}
.product{
    padding: 0.5vw;
    width: 22vw;
   
}
.img, .img img{
    max-width: 22vw;
}
.img {
    height: 22vw;
}
.details{
    font-size: 1.2rem;
    text-align: center;
}
.name{
    font-weight: bolder;
}

.product:hover{
    background: #794e4eab;
}
#products a{
    text-decoration: none;
    color: #000000;

}
footer{
    background: #39e28d;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0 1rem 0 ;
}
footer svg:hover{
    fill: #ff0000;
}



#nav{
    position: fixed;
    top: 0;
    width: 25%;
    background: #050505a9;
    right: 0;
    text-decoration: none;
}

#close,#close svg{
    width: 3.125rem;
    fill: #ffe4c4;
    right: 10%;
    float: right;
    padding: 0.625rem;

}
#nav ul{
    width: 100%;
    padding: 8rem 0px 0px 8rem;
   
}
#nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.5rem;
    margin: 1rem;
}
#nav li{
    list-style-type: none;

}
#nav a:hover {
    color: #f59595;
    
}
#close svg:hover {
    fill: #f59595;
}

#products  a:nth-child(3)  img{
    padding: 2.5rem 0 0 0;
   
}
#products  a:nth-child(4)  img{
    padding: 0.313rem 0 0px 0;
}




@media only screen and (max-width: 767px){
        
    #nav{
        width: 40%;

    }
    #nav ul{
    padding: 5rem 0px 0px 2rem;}
    #nav a{
    font-size: 2.0rem;}
    #products  a:nth-child(3)  img{
        padding: 1.188rem 0 0px 0;
       
    }
}